{% extends "base.html" %}
{% block content %}
<h2 class="slide-in-top">Добавить позицию</h2>
<div class="row justify-content-center">
  <div class="col-md-6 card-custom p-4 fade-in-card">
    <form method="POST" action="{{ url_for('create_item') }}">
      <div class="mb-3">
        <label for="inventory_number" class="form-label">Инвентарный номер (уникальный)</label>
        <div class="input-group">
          <input type="text" class="form-control" id="inventory_number" name="inventory_number" required>
          <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#qrScannerModal" data-target-input="inventory_number">
            <i class="bi bi-upc-scan"></i>
          </button>
        </div>
        <small class="text-muted">Можно использовать цифры, а также символы - . /</small>
        <br>
        <p>
        <small class="text-muted">Для ввода инвентарного номера вы можете воспользоваться подключённым сканером штрих/qr-кода, предварительно убрав постфикс.<br> <a href="../faq" class="alert-link">Подробнее см. в базе знаний</a>.</small>
        </p>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Название</label>
        <input type="text" class="form-control" id="name" name="name">
      </div>
      <div class="mb-3">
        <label for="condition" class="form-label">Состояние</label>
        <select class="form-select" id="condition" name="condition">
          <option value="new">Новый</option>
          <option value="in_use">В использовании</option>
          <option value="broken">Сломанный</option>
          <option value="decommissioned">Списан</option>
        </select>
      </div>
      <button type="submit" class="btn btn-success bounce-on-hover">Сохранить</button>
    </form>
  </div>

</div>
</div>
{% endblock %}
