{% extends "base.html" %}
{% block content %}
<h2 class="mb-4 slide-in-top text-center">Вход в систему</h2>
<div class="row justify-content-center">
  <div class="col-md-6 card-custom p-4">
    <form method="POST" action="{{ url_for('login') }}">
      <div class="mb-3">
        <label for="username" class="form-label">Логин</label>
        <input type="text" class="form-control" id="username" name="username">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Пароль</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>

      <div class="text-center my-4">
        <div class="d-flex align-items-center">
          <hr class="flex-grow-1">
          <span class="mx-3 text-muted">или</span>
          <hr class="flex-grow-1">
        </div>
      </div>

      <div class="mb-3">
        <label for="id_card_code" class="form-label">Код ID-карты</label>
        <input type="text" class="form-control" id="id_card_code" name="id_card_code">
      </div>

      <button type="submit" class="btn btn-primary w-100 bounce-on-hover">Войти</button>
    </form>
  </div>
</div>
{% endblock %}
